<section class="food">
  <div class="container">
    <ul class="food__list list-reset">
      <li class="food__item">
        <div class="food__item-text-block">
          <h2 class="food__title">Lekker Eten</h2>
          <p class="food__text text">
            Eten gaat niet over indruk maken op mensen.
            Het gaat erom dat ze zich op hun gemak voelen. Dat is onze filosofie, goed eten in een goede sfeer.
          </p>
        </div>
        <picture>
          <source srcset="img/food_meat.webp" type="image/webp">
          <img loading="lazy" src="img/food_meat.jpg" class="image" width="670" height="560" alt="Meat">
        </picture>
      </li>
      <li class="food__item">
        <div class="food__item-text-block">
          <h2 class="food__title">Toffe Ambiance</h2>
          <p class="food__text text">
            Het creëren van de juiste sfeer is zeer belangrijk voor ons.
            We nemen onze tijd om te zorgen dat alle elementen bijdragen aan de juiste setting.
          </p>
        </div>
        <picture>
          <source srcset="img/food_beer.webp" type="image/webp">
          <img loading="lazy" src="img/food_beer.jpg" class="image" width="670" height="560" alt="Beer">
        </picture>
      </li>
      <li class="food__item">
        <div class="food__item-text-block">
          <h2 class="food__title">Lekkere Cocktails</h2>
          <p class="food__text text">
            Ons doel is simpel: een gastvrije plek bieden waar u kunt genieten van een onvergetelijke cocktail,
            een goed gesprek en lekker eten.
          </p>
        </div>
        <picture>
          <source srcset="img/food_cocktail.webp" type="image/webp">
          <img loading="lazy" src="img/food_cocktail.jpg" class="image" width="670" height="560" alt="Cocktail">
        </picture>
      </li>
    </ul>
  </div>
</section>
