<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a class="logo">
        <picture>
          <source srcset="img/footer_logo.webp" type="image/webp">
          <img class="logo__img" loading="lazy" src="img/footer_logo.png" class="image" width="269" height="55" alt="logo-company">
        </picture>
      </a>
      <div class="socials">
        <ul class="socials__list socials-item--black list-reset">
          <li class="footer__socials-item socials__item">
            <a href="#">Fb</a>
          </li>
          <li class="footer__socials-item socials-item--black socials__item">
            <a href="#">Lg</a>
          </li>
          <li class="footer__socials-item socials-item--black socials__item">
            <a href="#">Tw</a>
          </li>
          <li class="footer__socials-item socials-item--black socials__item">
            <a href="#">Yt</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
