<form class="form">
  <label class="form__name">
    Name
    <input class="form__input form__input--name" type="text" name="name" placeholder="Input your name">
  </label>
  <label class="form__mail">
    Email
    <input class="form__input form__input--mail" type="email" name="mail" placeholder="Input your email" required>
  </label>
  <label class="form__textarea">
    Speciale Request
    <textarea class="form__input form__input-textarea" name="text" id="" cols="10" rows="10" placeholder="Input your special request"></textarea>
  </label>
  <button class="form__button button" >Send</button>
</form>
