<header class="header">
  <nav class="nav-mobile">
    <div class="container">
      <div class="nav-mobile__top">
        <a class="logo">
          <img class="logo__img" loading="lazy" src="img/header_logo.png" class="image" width="269" height="55" alt="logo-company">
        </a>
        <div class="nav-mobile__burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="nav-mobile__bottom">
        <ul class="nav__list nav-mobile__list list-reset">
          <li class="nav__item nav-mobile__item">
            <a href="#">À la carte</a>
          </li>
          <li class="nav__item nav-mobile__item">
            <a href="#">Wijnkaart</a>
          </li>
          <li class="nav__item nav-mobile__item">
            <a href="#">Lunchmenu</a>
          </li>
          <li class="nav__item nav-mobile__item">
            <a href="#">Contact</a>
          </li>
        </ul>
        <div class="nav-mobile__bottom-wrapper">
          <a class="promo__button nav-mobile__button button" href="#" data-graph-path="modal">Reserve a table</a>
          <div class="header__phone nav-mobile__phone phone">
            <a class="phone__link" href="tel:+3292825725">
              <svg class="phone__icon">
                <use xlink:href="img/sprite.svg#icon_tel"></use>
              </svg>
              +32 9 282 57 25
            </a>
          </div>
          <ul class="socials__list list-reset">
            <li class="socials__item socials-item--black">
              <a href="#">Fb</a>
            </li>
            <li class="socials__item socials-item--black">
              <a href="#">Lg</a>
            </li>
            <li class="socials__item socials-item--black">
              <a href="#">Tw</a>
            </li>
            <li class="socials__item socials-item--black">
              <a href="#">Yt</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="header__wrapper">
    <div class="container">
      <nav class="nav">
        <a class="logo">
          <picture>
            <source srcset="img/header_logo.webp" type="image/webp">
            <img class="logo__img" loading="lazy" src="img/header_logo.png" class="image" width="269" height="55" alt="logo-company">
          </picture>
        </a>
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#">À la carte</a>
          </li>
          <li class="nav__item">
            <a href="#">Wijnkaart</a>
          </li>
          <li class="nav__item">
            <a href="#">Lunchmenu</a>
          </li>
          <li class="nav__item">
            <a href="#">Contact</a>
          </li>
        </ul>
        <div class="header__phone phone">
          <a class="phone__link" href="tel:+3292825725">
            <svg class="phone__icon">
              <use xlink:href="img/sprite.svg#icon_tel"></use>
            </svg>
            +32 9 282 57 25
          </a>
        </div>
      </nav>
      <div class="header__promo promo">
        <p class="promo__text">Open everyday 6am - 9pm</p>
        <h1 class="promo__title">A bad day with lunch is better than a good day without it.</h1>
        <div class="promo__wrapper">
          <a class="promo__button button" href="#" data-graph-path="modal">Reserve a table</a>
          <div class="promo__socials socials">
            <ul class="socials__list list-reset">
              <li class="socials__item">
                <a href="#">Fb</a>
              </li>
              <li class="socials__item">
                <a href="#">Lg</a>
              </li>
              <li class="socials__item">
                <a href="#">Tw</a>
              </li>
              <li class="socials__item">
                <a href="#">Yt</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
