<section class="info">
  <div class="container">
    <div class="info__wrapper">
      <div class="into__contacts contacts">
        <h2 class="contacts__title title">Contacts</h2>
        <ul class="contacts__list list-reset">
          <li class="contacts__item">
            <p class="contacts__top">Phone Number</p>
            <a class="contacts__bottom" href="tel:3292825725">+32 9 282 57 25</a>
          </li>
          <li class="contacts__item">
            <p class="contacts__top">Email</p>
            <a class="contacts__bottom" href="mailto:info@email.com">info@email.com</a>
          </li>
          <li class="contacts__item">
            <p class="contacts__top">Opening Hours</p>
            <p class="contacts__bottom" href="mailto:info@email.com">Everyday from 6 AM - 9 PM</p>
          </li>
          <li class="contacts__item">
            <p class="contacts__top">Map Street</p>
            <p class="contacts__bottom" href="mailto:info@email.com">Jl. Raya Surabaya 2787</p>
          </li>
        </ul>
      </div>
      <div class="info__questions questions">
        <h2 class="questions__title title">Have any questions?</h2>
        @include('form.html')
      </div>
    </div>
  </div>
</section>
