<section class="menu">
  <div class="container">
    <div class="menu__wrapper">
      <ul class="menu__list list-reset">
        <li class="menu__item">
          <p class="menu__week">Woensdag 12/01</p>
          <span class="menu__food">
            <p>Salade met Serrano</p>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <p>Steak Tartaar</p>
          </span>
        </li>
        <li class="menu__item">
          <p class="menu__week">Donderdag 13/01</p>
          <span class="menu__food">
            <p>Toast Roquefort</p>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <p>Penne met Kip en Prei</p>
          </span>
        </li>
        <li class="menu__item">
          <p class="menu__week">Vrijdag 14/01</p>
          <span class="menu__food">
            <p>Verrassing van de Chef</p>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <p>Penne met Kip en Prei</p>
          </span>
        </li>
        <li class="menu__item">
          <p class="menu__week">Vrijdag 14/01</p>
          <span class="menu__food">
            <p>Verrassing van de Chef</p>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <p>Penne met Kip en Prei</p>
          </span>
        </li>
        <li class="menu__item">
          <p class="menu__week">Vrijdag 14/01</p>
          <span class="menu__food">
            <p>Verrassing van de Chef</p>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <span class="menu__dot"></span>
            <p>Penne met Kip en Prei</p>
          </span>
        </li>
      </ul>
      <div class="menu__photo">
        <ul class="menu__photo-list list-reset">
          <li class="menu__photo-item">
            <picture>
              <source srcset="img/menu_1.webp" type="image/webp">
              <img loading="lazy" src="img/menu_1.jpg" class="image" width="323" height="486" alt="">
            </picture>
          </li>
          <li class="menu__photo-item">
            <picture>
              <source srcset="img/menu_2.webp" type="image/webp">
              <img loading="lazy" src="img/menu_2.jpg" class="image" width="323" height="486" alt="">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
