// colors
:root {
  // swiper
  --swiper-theme-color: #D3B47F;
}

// viewPort
$vp-320: 320px;
$vp-520: 520px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1200: 1200px;
$vp-1440: 1440px;
$vp-1920: 1920px;


// base
$font-family: "Poppins", sans-serif;
$content-width: 1170px;
$container-offset: 15px;



